<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %} {% endblock %} - FIDO2 Proof-of-Concept</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <nav>
            <a href="{{ url_for('index') }}">Index</a>
            {% if login %}
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </nav>
        <div id="user">
            {% if login %}
                Welcome, {{ session['display_name'] }}!
            {% else %}
                You are currently not logged in.
            {% endif %}
        </div>
        <div id="content">
            {% block content %} {% endblock %}
        </div>
    </body>
</html>