{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
    <h1>FIDO2 Login</h1>
    <p>
        Please click 'Authenticate' and then present your FIDO2-token to login.<br>
        You don't need to provide your username to be able to login.
    </p>
    <form>
        <input type="button" value="Authenticate" id="authenticate">
    </form>
    <div id="status">
        <div id="success" hidden>
            Login complete! Please wait while you're redirected.
            If this process takes more than five seconds, please use this <a href="{{ url_for('index') }}">login</a> link.
        </div>
        <div id="failure" hidden>
            There was an error processing your login. Please try again.
        </div>
        <div id="no_creds" hidden>
            We couldn't find any credential data. Are you sure you've registered before?
        </div>
    </div>
    <script type="module" src="{{ url_for('static', filename='login.js') }}"></script>
{% endblock %}